body, html {
    width: 100%;
    margin: 10;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.main-div {
    width: 100%;
}

.bgimg {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.caption {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000000;
}

.caption span.border {
    background-color: #111111;
    color: #ffffff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}