{% extends 'base_card_content.html' %}
{% load crispy_forms_field %}

{% block title %}Login{% endblock %}
{% block card-title %}Login{% endblock %}

{% block cardcontent %}
  <div class="panel-body mt-3">
    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
      {% csrf_token %}
      {% crispy_addon form.username prepend='<i class="fas fa-envelope"></i>' %}
      {% crispy_addon form.password prepend='<i class="fas fa-key"></i>' %}
      <div class="form-group">
        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Login" type="submit">
      </div>
    </form>
    <div class='text-center'><a class="btn btn-default" href="/auth/password_reset">Reset Password</a></div>
  </div>
{% endblock %}
