{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container pt-4" style="text-align: center;">
  <div class="card bg-light mb-3" style="max-width: 60rem;">
    <div class="card-title"><br><h3>Central Analytical Laboratory</h3><br></div>
    <div class="card-text">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button><br><br>
      </form>
    </div>
  </div>
  <br>
</div>
{% endblock %}