{% extends 'base_card_content.html' %}
{% load crispy_forms_field %}

{% block title %}Reset Password{% endblock %}
{% block card-title %}Set New Password{% endblock %}

{% block cardcontent %}
  <div class="panel-body mt-3">
    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
      {% csrf_token %}
      {% crispy_addon form.new_password1 prepend='<i class="fas fa-key"></i></span>' %}
      {% crispy_addon form.new_password2 prepend='<i class="fas fa-key"></i></span>' %}

      <div class="form-group">
        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Set New Password" type="submit">
      </div>
    </form>
  </div>
{% endblock %}
