{% extends 'base_card_content.html' %}

{% block head %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% load crispy_forms_field %}

{% block cardcontent %}
  <h5 class="text-center">Set New Password</h5>
  <div class="panel-body mt-3">
    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
      {% csrf_token %}
      {% crispy_addon form.new_password1 prepend='<i class="fas fa-key"></i></span>' %}
      {% crispy_addon form.new_password2 prepend='<i class="fas fa-key"></i></span>' %}

      <div class="form-group">
        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Set New Password" type="submit">
      </div>
    </form>
  </div>
{% endblock %}
