{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'booking_portal/about_us.css' %}" />
{% endblock %}

{% block content %}
  <div class="container">
      <div class="heading-title text-center">
        <h2 class="text-uppercase">Online-CAL Team</h2>
        <h3>We are enthusiastic engineering students from BITS Pilani, Hyderabad Campus</h3>
      </div>
      <div class="d-flex flex-row justify-content-between flex-wrap">
        <!-- Abhijeet -->
        <div>
          <div class="team-member">
            <div>
              <img src="https://i.ibb.co/L8FrLkQ/IMG-2.jpg" alt="Picture of Abhijeet V"
                   class="img-fluid team-img">
            </div>
            <div class="team-hover">
              <div class="desk">
                <h4>Abhijeet V</h4>
                <p>4th year Electronics Engg Student</p>
              </div>
              <div class="s-link">
                <a href="https://github.com/abhijeetviswa"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/abhijeetviswa/"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:f20181032@hyderabad.bits-pilani.ac.in"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Abhijeet V</h5>
            <span></span>
          </div>
        </div>

        <!-- Ujjwal -->
        <div class="">
          <div class="team-member">
            <div>
              <img src="https://i.ibb.co/SBgx0MZ/127105802-3442059285876220-7161422188883044396-o.jpg" alt="Picture of Ujjwal Raizada"
                   class="img-fluid team-img">
            </div>
            <div class="team-hover">
              <div class="desk">
                <h4>Ujjwal Raizada</h4>
                <p>Computer Science Graduate</p>
              </div>
              <div class="s-link">
                <a href="https://github.com/ujjwal-raizada"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/ujjwal-raizada/"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:ujjwalraizada@gmail.com"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Ujjwal Raizada</h5>
          </div>
        </div>

        <!-- Pranjal -->
        <div class="">
          <div class="team-member">
            <div>
              <img src="https://i.ibb.co/ck7L0h0/22491789-907508729407976-5844625646350450515-n.jpg" alt="Picture of Pranjal Gupta"
                   class="img-fluid team-img">
            </div>
            <div class="team-hover">
              <div class="desk">
                <h4>Pranjal Gupta</h4>
                <p>Computer Science Gradute</p>
              </div>
              <div class="s-link">
                <a href="https://github.com/PranjalGupta2199"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/pranjalgupta2199/"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:f20170124@hyderabad.bits-pilani.ac.in"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Pranjal Gupta</h5>
            <span></span>
          </div>
        </div>

        <!-- Daksh -->
        <div class="">
          <div class="team-member">
            <div>
              <img src="https://i.ibb.co/rkXn1qj/123033815-399723088081705-7464208872408771101-n.jpg" alt="Picture of Daksh Yashlaha"
                   class="img-fluid team-img">
            </div>
            <div class="team-hover">
              <div class="desk">
                <h4>Daksh Yashlaha</h4>
                <p>Computer Science Graduate</p>
              </div>
              <div class="s-link">
                <a href="https://github.com/daksh-yashlaha"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/daksh-yashlaha/"><i class="fa fa-linkedin"></i></a>
                <a href="mailto:f20170218@hyderabad.bits-pilani.ac.in"><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="team-title">
            <h5>Daksh Yashlaha</h5>
            <span></span>
          </div>
        </div>
  </div>
 {% endblock %}