{% extends 'base.html' %}
{% load static %}



{% block content %}
<br>

<div class="container">
    <h3>OnlineCAL Announcements</h3>
    <br>
    {% for announcement in announcements %}


    <div class="card bg-light border-dark mb-3">
        <div class="card-header">{{ announcement.date }}</div>
        <div class="card-body">
        <h5 class="card-title">{{ announcement.title }}</h5>
        <p class="card-text">{{ announcement.text }}</p>
        </div>
    </div>

    {% endfor %}
</div>


{% endblock %}
