{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="main-div">
    <img src="{% static 'booking_portal/image.jpg' %}" style="opacity: 0.65; 
                                                              position: relative;
                                                              background-position: center;
                                                              height: 100%;
                                                              width: 100%;
                                                              background-repeat: no-repeat;
                                                              background-size: cover;" />
    <div class="caption">
      <span class="border"> CENTRAL ANALYTICS LABORATORY </span>
    </div>
  </div>

  {% else %}
  <div class="container pt-4" style="text-align: center;">
    <div class="card bg-light mb-3" style="max-width: 60rem;">
      <div class="card-text">
        <br><h3>You are not logged in, kindly login</h3><br>
        <br><a href="{% url 'login' %}" class="btn btn-primary btn-active btn-lg" >Login</a><br><br>
      </div>
    </div>
    <br>
  </div>
  {% endif %}
{% endblock %}