{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <!-- <div class="container pt-4" style="text-align: center;">
    <div class="card bg-light mb-3" style="max-width: 60rem;">
      <div class="card-title"><br><h3>Central Analytical Laboratory</h3><br></div>
      <div class="card-text">
        <h4>Welcome {{ user.username }}</h4><br>
        <a href="{% url 'instrument-list' %}" class="btn btn-primary btn-lg-active" role="button" aria-pressed="true">Select Instrument</a><br><br>
        <a href="{% url 'logout' %}" class="btn btn-primary btn-lg-active" role="button" aria-pressed="true">Logout</a><br><br>
      </div>
    </div>
    <br>
  </div> -->
  <div>
    <img src="{% static 'booking_portal/image.jpg' %}">
    <!-- <div class="caption">
      <span class="border">FULL PAGE</span>
    </div> -->
  </div>

  {% else %}
  <div class="container pt-4" style="text-align: center;">
    <div class="card bg-light mb-3" style="max-width: 60rem;">
      <div class="card-text">
        <br><h3>You are not logged in, kindly login</h3><br>
        <br><a href="{% url 'login' %}" class="btn btn-primary btn-active btn-lg" >Login</a><br><br>
      </div>
    </div>
    <br>
  </div>
  {% endif %}
{% endblock %}