<p>Dear {{ receipent_name }},</p>

<p>Greetings from Central Analytical Laboratory! </p>

<p>{% block message %} {% endblock %}</p>
<p>Portal Link: <a href="https://onlinecal.bits-hyderabad.ac.in">https://onlinecal.bits-hyderabad.ac.in</a></p>
<p>Regards,<br>
Central Analytical Laboratory<br>
BITS Pilani Hyderabad Campus
</p>
<p>
<strong><small><i>Note: This is a system generated mail. Please do not reply to this message.<br>
For more information, please contact <a href='mailto:ram.ganesan@hyderabad.bits-pilani.ac.in'> Dr
Ramakrishnan Ganesan</a> </i> </small></strong>
</p>