{% extends 'email/base.html' %}
{% block message %} Unfortunately, your booking has been rejected for <strong> Machine: {{ instrument_name }}</strong> and <strong> Time Slot: {{ slot }}</strong>. <br>
{% if faculty_remarks or lab_assistant_remarks%}
Please find below the remarks for your application: <br>
<ul>
    {% if faculty_remarks %} <li> Supervisor's Comments: {{ faculty_remarks }} </li> {% endif %}
    {% if lab_assistant_remarks %} <li> Lab Assistant's Comments: {{ lab_assistant_remarks }}</li> {% endif %}
</ul>
{% endif %}
<br>
Please consult your supervisor for more information.{% endblock %}