{% extends 'instrument_form_base.html' %}

{% block title %} Circular Dichroism (CD) Spectrophotometer {% endblock %}
{% block subtitle %} Circular Dichroism (CD) Spectrophotometer, Jasco J-1500 {% endblock %}

{% block content %}
<form action="" method="POST">
    <script>
        $('form').submit(function(e) {
            $(':disabled').each(function(e) {
                $(this).removeAttr('disabled');
            })
        });
    </script>
    {% csrf_token %}
    {{ form.as_p }}
    <p style="text-align: justify;">
        Sample quality required is 2ml <br>
        Sample should be clear and uniform liquid. Blank solution needs to be submitted by the user.<br>
        <b>Please provide any other information in other remarks (eg. toxic samples) </b>
    </p>
    {% if edit %}
        <div style="text-align: center;">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    {% endif %}
</form>
{% endblock %}

{% block facility %} CD {% endblock %}