{% extends 'instrument_form_base.html' %}

{% block title %} Energy Dispersive X-RAY Fluorescence {% endblock %}
{% block subtitle %} Energy Dispersive X-RAY Fluorescence (ED-XRF) PANalytical EPSILON - 1 {% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p style="text-align: justify;">
        <b>Please provide any other information in other remarks (eg. toxic samples) </b>
    </p>
    <div style="text-align: center;">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
{% endblock %}

{% block facility %} ED-XRF {% endblock %}