{% extends 'instrument_form_base.html' %}

{% block title %} Field Emission Scanning Electron Microscope {% endblock %}
{% block subtitle %} Field Emission Scanning Electron Microscope {% endblock %}


{% block content %}
<form action="" method="POST">
    <script>
        $('form').submit(function(e) {
            $(':disabled').each(function(e) {
                $(this).removeAttr('disabled');
            })
        });
    </script>
    {% csrf_token %}
    {{ form.as_p }}
    <div style="text-align: center;">
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
{% endblock %}

{% block facility %} FESEM {% endblock %}